# Настройка Django
ALLOWED_HOSTS=127.0.0.1

# Настройка хоста и порта для Gunicorn
GUNICORN_HOST=localhost
GUNICORN_HOST=8000

# Настройки для БД, они же используются при создании БД в контейнере и для настройки подключения Django к БД
DB_HOST=localhost
DB_PORT=5433
DB_NAME=my_cloud_db
DB_USER_NAME=kepler
DB_USER_PASSWORD=password123
