#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

label {
  color: #ffffff;
}

.registration-form {
  max-width: 200px; /* Максимальная ширина формы */
  margin: 0 auto; /* Центрирование формы */
}

label {
  display: block; /* Каждая метка с новой строки */
  margin-bottom: 10px; /* Отступ между метками и инпутами */
}

input {
  /* width: 100%; Инпуты на 100% ширины формы */
  padding: 8px; /* Внутренний отступ инпутов */
  margin-top: 0px; /* Отступ сверху инпутов */
}

button {
  border-radius: 10px;
  cursor: pointer;
  padding: 10px; /* Отступы кнопки */
}

.formText {
  color: #9292a6;
}

.articleForm {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  padding: 35px;
}

.divider {
  height: 200px;
  width: 2px;
  background-color: #260f26;
}

.fileInputBlock {
  display: grid;
  justify-content: space-around;
  margin-bottom: 20px;
}

.fileInput {
  color: aliceblue;
}

.fileItem {
  color: white;
  border: 2px solid #3498db;
  padding: 10px;
  margin-bottom: 10px;
  list-style-type: none;
}

.fileItem:hover {
  background-color: hsl(0, 22%, 30%);
}

.fileItem {
  white-space: nowrap;
  justify-content: space-between;
  display: flex;
  align-items: center;
  border: 2px solid #3498db; /* Цвет рамки */
  padding: 10px;
  margin-bottom: 10px;
  list-style-type: none; /* Убирает маркеры списка */
}

.actionButton {
  align-items: flex-end;
  font-size: 1px; /* Размер кнопок */
  cursor: pointer;
  margin-left: 10px;
  background-color: transparent;
  border: none;
}

.deleteButton {
  color: #e74c3c; /* Красный цвет для удаления */
}

.downloadButton {
  margin-left: auto;
  color: #2ecc71; /* Зеленый цвет для скачивания */
}

.shareButton {
  color: #3498db; /* Синий цвет для поделиться */
}

.actionButton:hover {
  background-color: #f2f2f2; /* Цвет фона при наведении */
}

p {
  display: table;
}

.globe {
  min-width: 640px;
}

.cardInfo {
  white-space: nowrap;
}

.fileDetails {
  width: 300px;
}

.editButton {
  height: 25px;
  padding: 2px;
}

.editInput {
  height: 25px;
}

.redButton {
  background-color: #9f3f3f;
}